<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PatientInformation" />
                <binding name="BasicHttpBinding_PatientInformation1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebServiceTest/PatientInformation.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PatientInformation"
                contract="PatientInformation.PatientInformation" name="PatientInformation" />
            <endpoint address="http://localhost/WebServiceTest/PatientInformation/PatientInformation.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PatientInformation1"
                contract="PatientInformation.PatientInformation" name="BasicHttpBinding_PatientInformation" />
        </client>
    </system.serviceModel>
</configuration>
